/* Media Queries for responsive design 
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        transform: translateX(-100%);
    }

        .sidebar.active {
            transform: translateX(0);
        }

    .main-content {
        margin-left: 0;
    }

        .main-content.active {
            margin-left: 0;
        }

    .toggle-icon {
        top: 80px;
    }
}

 Adjustments for larger screens 
@media (min-width: 769px) {
    .main-content {
        margin-top: 70px;  Adjust the margin-top to leave space for the navbar 
    }

    .toggle-icon {
        top: 80px; /* Adjust the top position of the toggle button to align with the navbar 
    }
}

*/